h1 {
    color: purple; 
    font-family: Fantasy;
}
h3 {
    text-decoration: underline;
}
p {
    
}
ol {
    font-weight: bold;
}
li {
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    background: pink;
    color: blue;
}
ul li {
    list-style-type: none;
}
ol li {
    list-style-position: inside;
}
img {
    margin: auto;
    display: block;
    height: 200px;
    width: 200px;
}
body {
    font-family: sans-serif;
}