body {
  font-family: sans-serif;
  background: linear-gradient(120deg, #000000, #534d4d);
  color: rgb(209, 209, 209);
}

h1 {
  font-family: fantasy;
  color: purple;
  font-size: 30px;
  display: flex;
}

iframe {
width: 50px;
height: 50px;
margin-left: auto;
}


h3 {
  text-decoration-line: underline;
}

p {
  padding: 20px 0px 20px;
}

ul {
  list-style-type: none;
}

ol {
  font-weight: bold;
  list-style-position: inside;
}

li {
  text-align: center;
  border: 1px solid red;
  border-radius: 15px;
  background: pink;
  color: blue;
  padding-left: 30px;
}

img {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

/* In order for psuedoclasses in links to work properly: order is link, visited, hover, active */
a:link {
  color: purple;
}


a:visited {
  color: rgb(233, 68, 68);
}

a:hover {
  color: rgb(21, 193, 58);
}

a:active {
  color: rgb(255, 255, 255);
}

hr {
  border-color: purple;
  margin-top: 25px;
  margin-bottom: 25px;
}

.intro p:nth-child(odd) {
  color: rgb(220, 29, 137);
}

.intro p:nth-child(even) {
  color: rgb(255, 138, 157);
}
#matrix {
  background-image: url("images/giphy.gif");
  padding: 20px;
}
#redpill {
  color: rgb(255, 0, 0);
  border-style: inset;
  border-color: rgb(255, 0, 0);
}

#bluepill {
  color: rgb(0, 8, 255);
  border-style: inset;
  border-color: blue;
}